<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneCode Admin</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon_admin.ico') }}" type="image/x-icon" />

    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <div class="controls">
        <a href="/admin/full_table">Полная таблица</a>
        <a href="/admin/table">Сводная таблица</a>
        <a href="/admin/users_table">Таблица пользователей</a>
    </div>
</body>
</html>