<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oneCode Admin - User</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon_admin.ico') }}" type="image/x-icon" />

    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <a href="/admin">Главная</a>
    <a href="/admin/users_table">Таблица пользователей</a>

    <div class="info">
        <p>Пользователь <span style="color: #00e1ff;">{{ user.public_id }}</span> (public_id)</p>
        <p>id: <span style="color: #00e1ff;">{{ user.id.hex() }}</span></p>
        <p>created_on: <span style="color: #00e1ff;">{{ user.created_on }}</span></p>
        <p>status: 
            {% if user.status == 0 %}
                <span style="color: #00e1ff;">Зритель</span>
                <a href="/ban/{{ user.id.hex() }}">Заблокировать</a>
                <a href="/make_editor/{{ user.id.hex() }}">Разрешить редактирование</a>
            {% elif user.status == 1 %}
                <span style="color: #00e1ff;">Редактор</span>
                <a href="/ban/{{ user.id.hex() }}">Заблокировать</a>
                <a href="/make_spectator/{{ user.id.hex() }}">Запретить редактирование</a>
            {% else %}
                <span style="color: #00e1ff;">Заблокирован</span>
                <a href="/unban/{{ user.id.hex() }}">Разблокировать</a>
            {% endif %}
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Added</th>
            <th>Deleted</th>
            <th>Datetime</th>
        </tr>
        {% for row in rows %}
        <tr>
            {% for e in row %}
                <td>{{ e }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>